/* =============================================================================
   Primary styles
   Author: 
   ========================================================================== */
body {
  background: #ebebeb; }

#menu {
  background: #444;
  height: 30px;
  color: #fff;
  text-align: right; }
  #menu ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #menu ul li {
      float: left;
      margin-left: 10px; }
      #menu ul li a {
        color: #fff;
        line-height: 30px;
        text-decoration: none; }
        #menu ul li a:hover {
          color: #ccc; }

h1 {
  padding: 0;
  margin: 0; }

#page {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  min-height: 400px;
  padding: 20px;
  overflow: hidden; }

#page .main {
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin: 0px;
  width: 500px;
  float: left;
  overflow: hidden; }

/************************/
.editable:hover {
  cursor: pointer;
  background-color: rgba(0, 100, 255, 0.5);
  color: blue; }

.task > span {
  display: inline-block;
  padding: 2px 1em;
  border-radius: 5px; }
  .task > span[name="start"] {
    color: #1bd51b; }
  .task > span[name="end"] {
    color: #df1111; }
  .task > span .tools {
    display: none;
    box-shadow: 5px 5px 5px;
    background-color: #ccc;
    padding: 1em; }

/************************/
.tasks.hide-complete .todoTask.complete {
  display: none; }
.tasks .todoTask.complete .task-label {
  text-decoration: line-through; }
.tasks .todoTask .tree-branches .branch {
  display: inline-block;
  width: 20px;
  height: 20px; }
  .tasks .todoTask .tree-branches .branch.last {
    border-bottom: 1px solid red;
    border-left: 1px solid red; }
.tasks .todoTask .todoTaskWrapper {
  background-color: #a3a8a2;
  display: inline-block;
  border: 1px solid #666666;
  border-radius: 4px;
  padding: 5px; }
  .tasks .todoTask .todoTaskWrapper.highlight {
    background-color: rgba(163, 168, 162, 0.4); }
  .tasks .todoTask .todoTaskWrapper .task-label {
    padding: 0 1em; }
  .tasks .todoTask .todoTaskWrapper .buttons {
    margin-left: 5px; }


/********************/
.todo-management #todo-lists .list {
  border: 1px solid #999;
  border-radius: 4px;
  padding: 4px;
  margin: 4px;
}
.todo-management #todo-lists .list:hover {
  cursor: pointer;
}
.todo-management #todo-lists .list.archived {
  background-color: #999;
}

.todo-management #todo-lists .list.active {
  border-color: #09f;
}

.clickable {
  opacity: .5;
}
.clickable:hover {
  cursor: pointer;
  opacity: 1;
}

.toolsWrapper {
  display: inline-block;
}

.buttons {
  display: none;
}