<h3>Create an account.</h3>

<form id="info-form">
	<fieldset>
		<legend>Account Info</legend>
		

		<div class="control-group">
			<label class="control-label" for="email">Email</label>
			<div class="controls">
				<input type="text" id="email" placeholder="Email" value="adsf@asdf.com">
				<span class="help-inline"></span>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="password">Password</label>
			<div class="controls">
				<input type="password" id="password" value="adsf@asdf.com">
				<span class="help-inline"></span>
			</div>
		</div>

	</fieldset>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">Create</button>
	</div>
</form>