<div id="<%= data.id %>" class="todoTask <% if (data.isComplete) { %>complete<% } %>">
	<span class="tree-branches">
		<% for (var i = 0; i < data.downstreamCount; i++) { %>
			<span class="branch <% if (i === data.downstreamCount - 1) { %>last<% } %>"></span>
		<% } %>
	</span>
	<span class="todoTaskWrapper <% if (data.highlight) { %>highlight<% } %>">
		<input type="checkbox" <%= data.checked %> />
		<span class="task-label editable <%= data.cls %>"><%= data.label %></span>
		<span class="buttons">
			<i class="clickable icon-arrow-up"></i>
			<i class="clickable icon-arrow-down"></i>
			<i class="clickable downstream icon-chevron-left"></i>
			<i class="clickable upstream icon-chevron-right"></i>
			<i class="clickable destroy icon-remove"></i>
		</span>
	</span>
</div>