<div class="task" id="<%= data.id %>">
	<% for (var i = 0; i < data.parentCount; i++) { %>
		---
	<% } %>
	<span class="toolWrapper">
		<button class="btn btn-small btn-danger delete"><i class="icon-remove"></i></button>
		<button class="btn btn-small btn-info clone"><i class="icon-repeat"></i></button>
	</span>
	<span name="category" class="editable text"><%= data.category %></span>
	<span name="description" class="editable text"><%= data.description %></span>
	<span name="start" class="editable time"><%= data.start %></span>
	<% if (data.end) { %>
		<span name="end" class="editable time"><%= data.end %></span>
		<span><%= data.duration %></span>
	<% } else { %>
		<button class="btn btn-small stop"><i class="icon-stop"></i></button>
	<% } %>

</div>